
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h5 style="display:block; padding-left:150px;padding-top:120px">

        Welcome to Elan<span style="color:orange">Wave</span> bookstore!
        <br>
        <br>
        Here you can browse our book database, add new books, edit or delete the old ones. Basically,
        <br>
        you can do anything!
        <br>
        <br>
        To browse the contents, please sign in, or sign up for an account if you don't have one.
        <br>
</h5>


